.highlight:hover
{
opacity:1.5;
}
.table-alt>tbody>tr:nth-child(odd)>td{
        background-color:aliceblue;
}
.table-alt>tbody>tr:nth-child(odd)>th{
        background-color:aliceblue;
}

.btn-default{
        background-color:yellow;
        border:3px;
        border-color:3px;
}
.highlight{
opacity: 1;
}
.form-control
{
        height:25px;
        width:90%;
}
#buttonContainer{
        margin:4px;

}
#buttonContainer>button{
        width:30px;
        height:25px;
        font-size: 75%;
}

h4{
position:relative;
top: -20px;
}
#info{
        width:18%;
        
}

#tableContainer
{                    
margin-top: 150px;
left:40%;
position:absolute;
overflow: hidden;
}
.table-alt>tbody>tr>td.selectedrow
{
        background-color: yellow;
}
.table-alt>tbody>tr>th.selectedcol,.table-alt>tbody>tr>td.selectedcol{
        background-color: yellow;
}
#heading
{
        color:white;
        font-size: 200%;
        opacity :0.7;

}
#head{
        width:70%;
}
#heading:hover
{
        opa city:1;
}

#jb
{
        width:500px;
}
input.inp
{
        width:300px; 
        border-radius: 5px; 
        border-color:#bdc7d8; 
        border-spacing:1px; 
        height:35px; 
        padding-top: 10px; 
        padding-bottom:10px;
        padding-right: 8px; 
        padding-left: 8px ; 
}